.form-main {
    flex-direction: column;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
}

.text{
    font-size: 50px;
    font-family: 'Times New Roman', Times, serif;
    color: #fff;
    margin-bottom: 20%;
}

.form {
    display: flex;
    flex-direction: column;
    width: 300px;
    gap: 10px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

input,
textarea {
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #ccc;
    width: 100%;
}

textarea {
    height: 100px;
    resize: none;
}