.form-main {
    flex-direction: column;
    position: relative;
    top: 0;
    left: 50%;
    transform: translate(-50%, 0);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    max-width: 600px;
    padding: 20px;
}

.text {
    font-size: 2.5rem;
    color: #fff;
    margin-top: 0;
    margin-bottom: 5%;
    text-align: center;
}

.form {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 10px;
    color: white;
}

.row {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
}

@media (min-width: 768px) {
    .row {
        flex-direction: row;
    }

    input {
        width: calc(50% - 10px);
    }
}

input {
    padding: 10px;
    font-size: 1rem;
    border-radius: 5px;
    border: 1px solid #ccc;
    width: 100%;
}

textarea {
    padding: 10px;
    font-size: 1rem;
    border-radius: 5px;
    border: 1px solid #ccc;
    width: 100%;
    height: 200px;
    resize: none;
}

.buttons {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-top: 5%;
    width: 100%;
}

@media (min-width: 768px) {
    .buttons {
        flex-direction: row;
    }
}

.button-clear,
.button-send {
    font-family: 'Times New Roman', Times, serif;
    padding: 10px;
    border-radius: 10px;
    color: white;
    font-size: 1rem;
    border: none;
    width: 100%;
}

.button-clear {
    background-color: red;
}

.button-send {
    background-color: green;
}

.info-main {
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-bottom: 5%;
}

@media (min-width: 768px) {
    .info-main {
        flex-direction: row;
        gap: 40px;
    }
}

.info {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
}

.icon {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 45px;
}

.name {
    font-size: 1.2rem;
    font-weight: bold;
}

.desc {
    font-size: 1rem;
}

.icon:hover {
    color: black;
}