.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #4c29b4;
    color: white;
}

.navbar-logo {
    font-size: 24px;
    font-weight: bold;
}

.navbar-menu {
    list-style: none;
    display: flex;
    gap: 15px;
}

.navbar-link {
    font-size: 20px;
    color: white;
    text-decoration: none;
}

.link:hover {
    text-decoration: underline;
}

.navbar-search input {
    padding: 5px;
    border-radius: 4px;
    border: none;
}