.navbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px 20px;
    background-color: black;
    color: white;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 1000;
    width: 100%;
}

.navbar-logo {
    font-size: 24px;
    font-weight: bold;
}

.navbar-menu {
    list-style: none;
    display: flex;
    gap: 30px;
}

.navbar-link {
    font-size: 20px;
    color: white;
    text-decoration: none;
}

.link:hover {
    text-decoration: underline;
}

.navbar-search input {
    padding: 5px;
    border-radius: 4px;
    border: none;
}