.projects-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    position: relative;
    height: auto;
    /* Yükseklik otomatik olarak ayarlanacak */
    padding: 20px;
    /* İçerik için padding ekledik */
}

.project-main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 12%;
    flex-wrap: wrap;
    /* Kartların taşmasını önlemek için wrap ekledik */
    overflow: hidden;
    width: 100%;
    max-width: 1200px;
    transition: transform 0.5s ease-in-out;
}

.project {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 30%;
    /* Genişliği %30 yaptık, ekran boyutuna göre ayarlanacak */
    height: 400px;
    /* Sabit yükseklik */
    border: 1px solid lightgray;
    box-shadow: 1px 1px 10px 1px gray;
    padding: 15px;
    border-radius: 10px;
    background-color: lightgray;
    margin: 10px;
    /* Kartlar arasında boşluk */
}

.image {
    width: 100%;
    height: 240px;
    margin-bottom: 20px;
    border-radius: 10px;
    object-fit: cover;
}

.title {
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    font-size: 25px;
    margin-bottom: 30px;
}

.pro-desc {
    font-family: 'Times New Roman', Times, serif;
    font-size: 18px;
    text-align: center;
    color: #464646;
}

.button-container {
    display: flex;
    justify-content: center; /* Butonları ortalar */
    position: relative; /* Absolute yerine relative kullanıyoruz */
    width: 100%;
    align-items: center; /* Dikey ortalama için */
}

.nav-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    font-size: 2rem;
    background-color: #333;
    border: none;
    cursor: pointer;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    opacity: 0.7;
    transition: opacity 0.3s ease;
   margin-top: 10%;
    /* Butonlar arasında boşluk */
}

.nav-button:hover {
    opacity: 1;
}

/* Responsive adjustments */
@media (max-width: 768px) {
    .project {
        width: 100%;
        /* Küçük ekranlarda kartlar tam genişlikte olacak */
        height: auto;
        /* Yükseklik otomatik ayarlanacak */
        margin: 10px 0;
        /* Dikey boşluk ekledik */
    }

    .nav-button {
        width: 40px;
        /* Buton boyutunu küçült */
        height: 40px;
        font-size: 1.5rem;
        /* Font boyutunu küçült */
    }
}

@media (min-width: 769px) and (max-width: 1200px) {
    .project {
        width: 45%;
        /* Orta boyutlu ekranlarda kartlar %45 genişliğinde */
    }
}

@media (min-width: 1201px) {
    .project {
        width: 30%;
        /* Büyük ekranlarda kartlar %30 genişliğinde */
    }
}
