body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

.content {
    padding: 0;
}

section {
    min-height: 100vh;
    padding: 20px;
    position: relative;
    transition: background 1s ease-in-out;
}

#home {
    background: linear-gradient(135deg, #1f1c2c, #928dab);
    background-size: 400% 400%;
    animation: gradientAnimation 10s ease infinite;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;
}

#projects,
#contact,
#about {
    background: linear-gradient(135deg, #1f1c2c, #928dab);
    background-size: 400% 400%;
    animation: gradientAnimation 10s ease infinite;
}

@keyframes gradientAnimation {
    0% {
        background-position: 0% 0%;
    }

    50% {
        background-position: 100% 100%;
    }

    100% {
        background-position: 0% 0%;
    }
}

html {
    scroll-behavior: smooth;
}