body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.content {
    margin: 0;
    padding: 0;
}

section {
    min-height: 100vh;
    padding: 0;
    margin: 0;
    position: relative;
    background-color: #f0f0f0;
    transition: background-color 1s ease-in-out;
}

section h1,
section p {
    margin: 0;
    padding: 0;
}

#contact,
#about {
    padding: 0;
    margin: 0;
}

@keyframes gradientAnimation {
    0% {
        background-position: 0% 0%;
    }

    50% {
        background-position: 100% 100%;
    }

    100% {
        background-position: 0% 0%;
    }
}

#services {
    padding: 0;
    margin: 0;
}

#projects,
#contact,
#about,
#services,
#home {
    background: url('./assets/background2.jpg') no-repeat center center/cover;
    background-size: 400% 400%;
    animation: gradientAnimation 10s ease infinite;
    padding: 0;
    margin: 0;
}

html {
    scroll-behavior: smooth;
}